# Xcode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdatad
*.trace
*project.xcworkspace/
*~.nib

# AppCode
.idea

# OSX
.DS_Store

# Git
*.orig
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.bak

