//
//  AquaticPrime Developer.xcconfig
//  AquaticPrime Developer
//
//  Created by Jaime Rios on 2016-03-16.
//
//

// As of the writing of this xcconfig file, the development machine was MacOS 10.11.3 (15D21)
// which means that OpenSSL is not available in the native SDK as a framework.
//
// To get around this problem, openssl 0.9.8 was downloaded (git://git.openssl.org/openssl.git)
// and compiled for MacOS at the OpenSSL_0_9_8-stable branch (commit 89133ba26a1c9e0fa99dd2cc782fa504ea3a5137)
//
// You can install the openssl libraries in your system or you can install into a custom build directory
// using ./config --prefix=./build/openssl , as an example
//
// In my case, I built using the following config command: ./config --prefix=./macos_build_10.11
// then copied my binaries into a lib directory in the root of the project folder


HEADER_SEARCH_PATHS = $PROJECT_DIR/../lib/openssl/mac/include
